@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Orbitron:wght@400;700;900&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Orbitron:wght@400;700;900&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------*/
body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  font-family: "Orbitron", sans-serif;
  color: #4C9141;
  font-size: 30px;
  line-height: 36px;
}

.welcome {
  padding: 50px 0px;
  background-color: #222222;
}
.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__body {
  margin: 0px 30px 0px 0px;
}
.welcome__title {
  color: #4C9141;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  margin: 0px 0px 40px 0px;
}
.welcome__list li {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 36px;
  background: url(../../img/icons/check.png) 0 0 no-repeat;
  padding: 0px 0px 0px 35px;
}
.what {
  padding: 50px 0px;
  background-color: #363636;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 469px;
          flex: 0 0 469px;
  height: 302px;
  border: 3px solid #4C9141;
}
.what__img img {
  max-width: 100%;
}
.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 38px;
}
.what__title {
  margin: 0px 0px 36px 0px;
}
.what__descritption {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.what__descritption p {
  margin: 0px 0px 15px 0px;
}
.what__descritption p:last-child {
  margin: 0px;
}

.characters {
  padding: 50px 0px;
  background-color: #222222;
}
.characters__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.characters__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -8px;
}
.characters__column {
  padding: 0px 9px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
}
.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 183px;
          flex: 0 1 183px;
  margin: 0px 8px 0px 0px;
}
.item__img {
  max-width: 100%;
  border: 3px solid #4C9141;
  height: 205px;
}
.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 8px;
}
.item__title {
  font-family: "Orbitron", sans-serif;
  color: #4C9141;
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 15px 0px;
}
.item__description {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.vertical {
  background-color: #363636;
  padding: 50px 0px;
}
.vertical__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}
.vertical__column {
  padding: 0 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.vertical__item {
  background-color: #222222;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 20px 0px;
}
.vertical__subtitle {
  font-family: "Orbitron", sans-serif;
  color: #4C9141;
  text-align: center;
  padding: 12px 0px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.vertical__label {
  text-align: center;
  background-color: #4C9141;
  color: #fff;
  padding: 15px 0px;
  font-size: 40px;
  line-height: 30px;
}
.vertical__img {
  padding: 20px;
  max-width: 638px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.vertical__img img {
  max-width: 100%;
  border: 3px solid #4C9141;
}
.vertical__btn {
  text-align: center;
  background-color: #4C9141;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
  margin: 0px 20px;
  line-height: 40px;
  height: 40px;
}
.vertical__btn:hover {
  background-color: #36642e;
}
.vertical__btn:active {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.75) inset;
}

.footer {
  background-color: #4C9141;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__img {
  border: 0.5px solid #fff;
}
.footer__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
}